.nosotros-subtitulo {
    color: #80B8EE;
    font-size: 14px;
    font-weight: 400;
    padding-top: 119px;
    margin-bottom: 41px;
}

.nosotros-titulo {
    color: #E6F1FC;
    font-family: BogleBold;
    font-size: 48px;
    letter-spacing: 2px;
}

.nosotros-botones {
    
}

